<!DOCTYPE html>
	<html>
		{% include head.html %}
		<head>
			<title>{{ page.title }}</title>
		</head>
		<body>
			<div class="container">
			
			<nav>
				<div class="header">
		    		<ul class="nav nav-pills pull-right">
		        		<li><a href="/">Home</a></li>
			        	<li><a href="/about">About</a></li>
		        		<li><a href="/cv/JamesDiao1pgResearch.pdf">CV</a></li>
		        		<li><a href="/archives">Archives</a></li>
		    		</ul>
		    	</div>
	    		<h3 class="text-muted"><a href="/">JAMES DIAO</a></h3>
			</nav>
			
			{{ content }}
			
			
			<footer>
				<div class="footer">
		    		<ul class="nav nav-pills pull-right">
		        		<li><a href="mailto:diao.james@gmail.com">email</a></li>
		        		<li><a href="https://github.com/jamesdiao">github</a></li>
		        		<li><a href="https://www.linkedin.com/in/jamesdiao/">Linkedin</a></li>
					</ul>
				<div class="footer">
			</footer>

			</div><!-- /.container -->
		</body>
	</html>